<div class="card shadow col-3 px-0 my-4 mx-4">
    <div class="card-header bg-info text-white font-weight-bold display-5">
        <h1>Jake</h1>
        <h1> <i class="fas fa-glasses"></i> Engineer</h1>
    </div>
    <div class="card-body bg-light">
        <ul class="list-group">
            <li class="list-group-item">ID: placeholder</li>
            <li class="list-group-item">Email: placeholder</li>
            <li class="list-group-item">Github: placeholder</li>
        </ul>
    </div>
</div>